<html>
    <head>
    <style>
        .btn{
            color:#fff;
background-color:blueviolet;
        }
        .btn a{
            color:#fff;
        }
    </style>
    </head>
    <body>
    <div class="btn">
    <a href="/form">Add Student Details</a>
</div>
</body>
</html>